/* Task styles */
.task {
  width: 100%;
  background: var(--task-background);
  border: 1px solid var(--task-border);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.task p {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: var(--task-text-color);
  margin-right: auto;
  cursor: pointer;
}

p.textCompleted {
  color: #808080;
  text-decoration: line-through;
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid #ff9500;
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #ff9500;
}

.deleteButton,
.editButton {
  background: none;
  border: none;
  color: #808080;
}

.deleteButton {
  cursor: pointer;
  color: red;
}

.editButton {
  cursor: pointer;
  color: #1E6F9F;
}

.taskDetails {
  font-size: 0.9rem;
  color: var(--task-details-color);
  margin-top: 4px;
  margin-bottom: 0;
}

.textCompleted {
  text-decoration: line-through;
  color: #ccc;
}

/* Modal overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  animation: fadeIn 0.3s ease-out;
}

.modalContent input,
.modalContent /* Input fields in task */
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;  /* Disable resizing */
}

.modalContent h3 {
  color: black;
}

/* Modal Buttons */
.modalButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.saveButton,
.cancelButton,
.deleteConfirmButton {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 48%;
}

.saveButton {
  background-color: #ec970d;
  color: white;
}

.saveButton:hover {
  background-color: #cd8612;
}

.cancelButton {
  background-color: #5e1b89;
  color: white;
}

.cancelButton:hover {
  background-color: #4e1770;
}

.deleteConfirmButton {
  background-color: #ec970d;
  color: white;
}

.deleteConfirmButton:hover {
  background-color: #cd8612;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

